<body>
  <h2>Register</h2>
  <form method="POST" action="/user">
    Email<input name="email" type="email" id="email" required />
    <br />
    Name<input name="name" type="text" id="name" required />
    <br />
    Password<input name="password" type="password" id="password" required />
    <button type="submit">Create</button>
  </form>
  <a href="/login">Login</a>
</body>
